/*============================
		Photo Container
==============================*/
.familia {
	font-size: 0;
}
.responsive {
    position: relative;
	display: inline-block;
    width: 25%;
	height: 50vh;
	font-family: "Castellar";
	background: rgba(205, 133, 63, 0.3) ;
}
.responsive img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.image {
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
}

.middle {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

.responsive:hover .image {
	opacity: 0.3;
}

.responsive:hover .middle {
	opacity: 1;	

}

.centered {
	color: #FFC125;
	font-size: 20px;
	padding: auto;
}
/*=======================================
			FOOTER STYLES
  =======================================*/

  #footer {
    color: #00f6ff;
	font-size: 20px;
	font-weight: bold;
	background: url(../images/red&gold.jpg) repeat center fixed;
	text-shadow: 2px 2px 8px 0 (0,0,0,0.4);
	margin-top: 100px;
    padding: 15px 50px 15px 50px;
    text-align: right;
}

/* ================================= 
			Queries
==================================== */

@media (max-width:650px){
.image{
	width:50%;
	height:100vh;
}
}

@media (max-width:480px){
.image{
	width:100%;
}
}
