//*===========================
		Author: Zee
============================*//

html{
	font-size: 62.5%;
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-size: 1.4rem;
	background-color: #000;
}

h1 {
	font-size: 2.4rem;
}

.container_item {
	margin: 0 auto 0;
}

.landing-page-container {
	width: 100%;
	min-height: 100%;
	height: 100vh;
	background: url(../images/starysky.jpg) bottom no-repeat;
/**==================================================
	Photo by Štefan Štefančík on Unsplash
====================================================**/	
	background-color: #000;
	background-size: cover;
	overflow: hidden;
	display: table;
	font-family: "Castellar", sans-sarif;
	color: #fff;
}

.content-wrapper {
  max-width: 2000px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.header {
  width: 100%;
  height: 2rem;
  padding: 3rem 0;
  display: block;
}

.menu-icon {
  width: 2.5rem;
  height: 1.5rem;
  display: inline.block;
  cursor: pointer;
}

.header__item {
  display: inline-block;
  float: left;
  padding-left: 10px;
}

.menu-icon__line {
  width: 2rem;
  height: .2rem;
  background: white;
  display: block;
}

.menu-icon__line:before, .menu-icon__line:after {
  content: '';
  width: 2rem;
  height: .2rem;
  background: white;
  display: inline-block;
  position: relative;
}

.menu-icon__line:before {
  left: 0.5rem;
  top: -0.6rem;
}

.menu-icon__line:after {
  top: -1.8rem;
}

.heading {
  width: 90%;
  font-size: 2rem;
  font-weight: normal;
  line-height: 1.2rem;
  margin: 0 35px;
  text-align: center;
  color: #bc8f8f;
}

.social-container {
  width: 7.25rem;
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
  float: right;
}

.social-container .social__icon {
	width: 1.5rem;
	float: left;
	cursor: pointer;
}

.social-container .social__icon-ay {
	margin-left: 4rem;
}

.social-container .social__icon-fb {
	margin-left: 4rem;
}

.social-container .social__icon-gh {
	margin-left: 4rem;
}

.social-container .social__icon-in {
	margin-left: 4rem;
}

.social-container .social__icon-yt {
	margin-left: 4rem;
}

.social-container .social__icon-ig {
	margin-left: 4rem;
}

.phrase {
  font-size: 1.4rem;
  display: inline-block;
  float: left;
  position: relative;
  top: 35%;
  font-weight: 400;
  color: #deb887 !important;
  letter-spacing: .1rem;
  left: -13rem;
  margin: 0;
  font-family: "Pristina", sans-sarif;
  transform: rotate(-90deg) translateY(50%);
}

.ellipse-container {
  width: 50rem;
  height: 50rem;
  border-radius: 50%;
  margin: auto auto;
  position: relative;
  top: 11rem;
}

.eye {
  position: absolute;
  top: -.9rem;
  right: -1rem;
  width: 830px;
  height: 830px;
  margin: 0 auto;
  opacity: .3;
  animation: ellipseOrbit 180s linear infinite;
}


.ellipse-container .greeting {
  position: absolute;
  top: 20.1rem;
  left: -8.7rem;
  right: 0;
  margin: 0 auto;
  text-transform: uppercase;
  letter-spacing: 4rem;
  font-size: 7rem;
  font-weight: normal;
  opacity: .8;
  color: #deb887;
}

.ellipse-container .greeting:after {
	content: '';
	width: .3rem;
	height: .3rem;
	border-radius: 50%;
	display: inline-block;
	background-color: #deb887;
	postion: relative;
	top: -0.65rem;
	left: -5.05rem;
}

.ellipse {
  border-radius: 50%;
  position: absolute;
  box-sizing: border-box;
  top: 0;
  border-style: solid;
}


.ellipse__outer--thin {
  width: 100%;
  height: 100%;
  border-width: 5px;
  border-color: rgba(9,56,62,.3);
  animation: ellipseOrbit 10s linear infinite;
}

/**=====================================
		Border Img Rotation
========================================**/
.ellipse__inner {
  position: absolute;
  top: 3rem;
  right: 3.2rem;
  width: 87.8%;
  height: 87.8%;
  margin: 0 auto;
  opacity: .3;
  animation: ellipseOrbit 60s linear infinite;
}

.ellipse__outer--thick {
  width: 100%;
  height: 100%;
  border-color: white transparent;
  border-width: 4px;
  transform: rotate(-45deg);
  animation: ellipseRotate 10s linear infinite;
}

.ellipse__orbit {
  width: 2.5rem;
  height: 2.5rem;
  border-width: 2px;
  border-color: white;
  top: 5rem;
  right: 6.75rem;
}

.ellipse__orbit:before {
  content: '';
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  position: absolute;
  display: inline-block;
  background-color: white;
  margin: 0 auto;
  left: 0;
  right: 0;
  top:50%;
  transform: translateY(-50%);
}

@keyframes ellipseRotate {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(-405deg);
  }
}

@keyframes ellipseOrbit {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

